<form action='/costumers' method="post">
  
  Name:
  <input type="text" name="name" required><br>
  
  Product:
  <% @products.each do |product| %>
  <input id="<%= product.name %>" type="checkbox" name="costumer[product][]" value="<%= product.id %>"><%= product.name %><br>
  <% end %>
  
  <input type="submit" name="submit" id="submit">


</form>

