<%=@costumer.name%>

<a href="/costumers/<%= @costumer.id %>/edit">Edit Costumer</a>


<form action="/costumers/<%= @costumer.id %>" method="post">
 <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Costumer" id="Delete Costumer">

</form>
