<%require 'pry'%>
<h1>Products Listing</h1>

<%Product.all.each do |product|%>
<ol>
  <li><h3><a href="/products/<%= product.id %>"><%=product.name%></a> - $<%=product.price%></h3><%=product.details%></li>
</ol>
<%end%>
<br>
 
<br><br>

To create a new product, please click <a href='/products/new' >here</a> <br>
To logout, please click <a href='/logout' >here</a> <br>

Thank You!
