<h2>Please enter in New Product information.</h2>
<form action='/products' method="post">
  Name:
  <input type="text" name="name"><br>
  Price:
  <input type="text" name="price"><br>
  Item Details:
  <input type="text" name="details"><br>
  

  <input type="submit" name="submit" id="submit">


</form>


