<div class="container">
  
    <h2>Merchant App</h2>

    <div class="content">
      <p>Welcome to the Merchant App! Please <a href="/login">login</a> or <a href="/signup">signup</a> if you do not already have an account.</p>
    </div>

       

  </div>
</div>
